<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试thymeleaf</title>
</head>
<body>

    雷浩啊,<span th:text="${name}"></span><br/>
    你好:<span th:text="${stu.code}"></span><br/>
    <!-- data-th-text 指令支持非h5-->
    密码是:<span data-th-text="${stu.pass}"></span><br/>
    <!--对象['属性值']如果变量是动态的,可以使用此属性 -->
    您的年龄是:<span th:text="${stu['age']}"></span><br/>
    <!--对象的value中有html需要渲染的使用 utext 输出 -->
    您喜欢的颜色是:<span th:utext="${stu.likeColor}"></span><br/>
    <hr/>

    <h3>自定义变量</h3>
    <div th:object="${stu}">
        <span th:text="*{code}"></span><br/>
        <span th:text="*{pass}"></span><br/>
        <span th:text="*{age}"></span><br/>
        <span th:utext="*{likeColor}"></span>
    </div>

    <h3>ognl表达式</h3>
    <!-- 可以调用字符串截取，分割等函数-->
    <span th:text="${stu.code.substring(3)}"></span><br/>
    <span th:text="${stu.code.split('')[1]}"></span><br/>

    <!--字面值-->
    <h3>字面值</h3>
    字符串:<span th:text="666"></span><br/>
    数字:<span th:text="1024*2"></span><br/>
    布尔:<span th:if="${stu.age} >=18">成年</span><span th:if="${stu.age} <=18">未成年</span><br/>
    字符串拼接:<span th:text="|你好${stu.code}真的666|"></span><br/>
    普通字符串拼接 <span  th:text="'你好 '+${stu.code}+' 真的888'"></span><br/>
    <h3>运算</h3>
    <!--算术运算 + - * % / -->
    <span th:text="${stu.age}/2"></span><br/>
    <!--三木运算符-->
    <span th:text="${stu.age}>=18 ? '成年' : '未成年' "></span><br/>
    <!--默认值-->
    <span th:text="${stu.code} ?: ''"></span>
    <hr>
    <ul>
        <li >编码--密码--年龄</li>
        <li th:each="stu : ${stuList}">
            <span th:text="${stu.code}"></span>--
            <span th:text="${stu.pass}"></span>--
            <span th:text="${stu.age}"></span>
            <!--逻辑判断-->
            <span th:if="${stu.age>60}">可以退休</span>
            <span th:unless="${stu.age>60}">不能退休</span>
            <!--switch 选择-->
            <span th:switch="${stu.code}">
            <span th:case="'001'">1号员工，骨灰级</span>
            <span th:case="'002'">2号员工，元老级</span>
            <span th:case="'003'">3号员工，老员工</span>
            <span th:case="'004'">4号员工，新员工</span>
            <span th:case="*">临时工</span>
            </span>
        </li>
    </ul>
<script  th:inline="javascript">
    //预处理js值
    const  stuList=/*[[${stuList}]]*/;
    const  stu=/*[[${stuList[2]}]]*/;
    const  age=/*[[${stuList[0].age}]]*/;

    console.log("集合 :"+stuList);
    console.log("对象 :"+stu);
    console.log("属性 :"+age);

    stuList.forEach(stu=>{
        console.log(stu.code+"   "+stu.pass)
    })
</script>
</body>
</html>